body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0b3d0b;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

main {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #1b5e20;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    animation: fadeIn 1s ease-in-out;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: white;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #33691e;
    border-radius: 4px;
    background-color: #33691e;
    color: white;
}

button {
    background-color: #aed581;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c5e1a5;
}

h2, h3 {
    color: white;
}

.result-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #1b5e20;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}